

#texto, #texto1, #texto2, #texto3, #texto4, #texto5{
    margin-top: 10px;
    font-size: 16px;
    color: black;
}

#texto-vermelho{
    margin-top: 10px;
    font-size: 16px;
    color: red;
}

#texto-verde{
    margin-top: 10px;
    font-size: 16px;
    color: green;
}

#lb1, #lb2, #lb3, #lb4{
    font-size: 16px;
}

#sp-res{
    margin-top: 60px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-control{
    font-size: 16px;
}