.erro{
    color: red;
    font-style: italic;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

#erro{
    color: red;
    font-style: italic;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

#editar{
    color: teal;
    font-weight: bold;
}

#eliminar{
    color: red;
    font-weight: bold;
}